ol li:nth-child(even) {
    color: rgb(13, 15, 15);
}

body {
    margin: 20px;
}

#clockContainer {
    background: #e8e1e1;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.container1 {
    background: #063022;
    padding: 10px;
    color: #fff;
}

.container2 {
    background: #fff;
    padding: 10px;
    color: #0c060c;
}

.two {
    width: 20px;
    padding: 10px;
}

.one {
    width: 10px;
}